credentials.yaml

data/raw/*
!/data/raw/.gitkeep
data/interim/*
!/data/interim/.gitkeep
data/processed/*
!/data/processed/.gitkeep

rapids/*
!rapids/config.yaml
!rapids/data/
rapids/data/external/*
!rapids/data/external/.gitkeep
rapids/data/raw/*
!rapids/data/raw/.gitkeep
rapids/data/interin/*
!rapids/data/interim/.gitkeep
rapids/data/processed/*
!rapids/data/processed/.gitkeep

notebooks/*
!/notebooks/.gitkeep
output/results/*
!/output/results/.gitkeep
output/tables/*
!/output/tables/.gitkeep
reports/*.html

__pycache__/
.idea
.vscode/
.spyproject/
.ipynb_checkpoints/
.DS_Store